h3{
    text-decoration: underline;
}
table{
    border: 2px solid darkblue;
}
th{
    border: 1px dashed brown;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
td{
    border: 1px solid purple;
}
#header{
    border-radius: 10px;
    background-color: pink;
}
#content{
    border-radius: 5px;
    background-color: papayawhip;
}
#name{
    padding-left: 10px;
    color: black;
    font-family: cursive;
}
#email{
    padding-left: 10px;
    color: black;
    font-family: cursive;
}
.company-name{
    text-decoration: underline;
}