h3{
    text-decoration: underline;
}
table{
    border: 2px solid darkblue;
    background-color: thistle;
    border-style: inset;
}
th{
    border: 1px dashed brown;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: paleturquoise;
}
td{
    border: 1px solid purple;
    background-color: lightcyan;
}
#header{
    border-radius: 10px;
    background-color: pink;
}
#content{
    border-radius: 5px;
    background-color: papayawhip;
    padding-bottom: 10px;
    padding-left: 10px;

}
#name{
    padding-left: 10px;
    color: black;
    font-family: cursive;
}
#email{
    padding-left: 10px;
    color: black;
    font-family: cursive;
}
.company-name{
    text-decoration: underline;
}
div.photo {
    margin: 20px;
    border: 1px solid #ccc;
    float: right;
    width: 180px;
  }
  
  div.photo:hover {
    border: 1px solid slateblue;
  }
  
  div.photo img {
    width: 100%;
    height: auto;
  }
